.texto-Blueviolet {color: blueviolet;
}
.texto-color {color: blue
}
.texto-rosa {color: rgb(214, 26, 189);
}

.tipografia {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30px;
  font-style: italic;
  font font-weight:bold;
}


